<h1> Lista de artículos </h1>

<table>
	<tr>
		<th> Título </th>
		<th> Texto </th>
		<th> Fecha Creación </th>
		<th> Fecha Actualización </th>
		<th> Opciones </th>
	</tr>
	<% @articles.each do |article| %>
	<tr>
		<td> <%= article.title  %> </td>
		<td> <%= article.text  %> </td>
		<td> <%= article.created_at.strftime('%Y-%m-%d %H:%M:%S') %> </td>
		<td> <%= article.updated_at.strftime('%Y-%m-%d %H:%M:%S') %> </td>
		<td>
			<a href="">Actualizar</a>
			<a href="">Eliminar</a>
		</td>
	</tr>
	<% end %>
</table>

<%= link_to 'Nuevo Articulo', new_article_path %>