<div class="container" style="top: 70px; position: relative;">

	<table class="table table-striped table-hover">
		<caption>Lista de artículos</caption>
		<tr>
			<th class="text-muted">
				<small> Título </small>
			</th>
			<th class="text-muted">
				<small> Texto </small>
			</th>
			<th class="text-muted">
				<small> Fecha Creación </small>
			</th>
			<th class="text-muted">
				<small> Fecha Actualización </small>
			</th>
			<th class="text-muted">
				<small> Opciones </small>
			</th>
		</tr>
		<% @articles.each do |article| %>
		<tr>
			<td>
				<small><%= article.title  %></small>
			</td>
			<td>
				<small><%= article.text  %></small>
			</td>
			<td>
				<small><%= article.created_at.strftime('%Y-%m-%d %H:%M:%S') %></small>
			</td>
			<td>
				<small><%= article.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></small>
			</td>
			<td>
				<%= link_to  article_path(article), :class => 'btn btn-default btn-xs' do %>
				<small>
					<strong> Mostrar </strong>
				</small>
				<% end %>

				<%= link_to edit_article_path(article), :class => 'btn btn-warning btn-xs' do %>
				<small>
					<strong> Editar </strong>
				</small>
				<% end %>

				<%= link_to article_path(article), :class => 'btn btn-danger btn-xs', method: :delete, data: { confirm: '¿Estás seguro?' }  do %>
				<small>
					<strong> Eliminar </strong>
				</small>
				<% end %>
			</td>
		</tr>
		<% end %>
	</table>
	<%= link_to new_article_path, :class => 'btn btn-default btn-xs' do %>
	<small>
		<strong> Nuevo Articulo </strong>
	</small>
	<% end %>
</div>